main { 
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  
  align-items: content;
  align-content: cover;
  gap: 24px;
  margin: auto;

}

main img {
  display: flex;
  width: 302px;
  height: 302px;
  object-fit: cover;
}